<div class="page">
  <div class="blogContent">
    <div class="articleTitle">
        <h1>Getting Started with the Carnivore Diet</h1>
        <p class="byline">Written by Jake M. on April 29, 2025</p>
    </div>
    <img src="assets/meat-assortment.png" alt="Assorted Meats" />
    <p>
      We like to think of the Carnivore Diet as a journey, not a destination.
      It's about finding what works best for you and your body. If you just dive
      in to full-blown carnivore without "phasing in," you're likely to have a
      bad time. That's why we recommend following these 4 phases:
    </p>

    <h2>Phase 1: Prep the Body (1-2 Weeks)</h2>
    <h3>Goal: Reduce carbohydrate dependance slowly.</h3>
    <ul>
      <li>Reduce carbohydrate intake to 50-100g per day - Count them!</li>
      <li>
        Increase healthy fats in your diet. Butter, tallow, ghee, etc. - these
        are your friends! You need to stimulate bile production.
      </li>
      <li>Focus on whole, unprocessed foods.</li>
      <li>
        Stay hydrated and consider electrolyte supplementation. (2g of sodium
        minimum)
      </li>
      <li>No seed oils. Ever.</li>
      <li>No refined sugar or sugar-containing drinks.</li>
      <li>Dairy as tolerated and within your carb threshold.</li>
      <li>Honey - within your carb threshold.</li>
      <li>Berries - within your carb threshold.</li>
    </ul>

    <h2>Phase 2: Keto-Adaptation (2-4 Weeks)</h2>
    <h3>Goal: Become fat-adapted.</h3>
    <ul>
      <li>
        Reduce carbohydrate intake to 20-30g per day, mostly from incidental
        sources (eggs, liver, dairy if tolerated).
      </li>
      <li>Meals = 70-80% fat by calories, 20-30% protein.</li>
      <li>
        Prioritize red meat (beef, lamb) and fatty cuts. Ground beef, untrimmed
        Tri-tip, etc.
      </li>
      <li>
        Introduce bone broth daily for minerals OR use KetoChow dailly minerals
        (no sponsor).
      </li>
    </ul>
    <h4>Combatting "Keto Flu"</h4>
    <ul>
      <li>
        Increase unrefined salt intake to 4-5g per day while your body dumps
        water smuggled by glucose into cells.
      </li>
      <li>Increase potassium intake to 2-4g per day.</li>
      <li>Increase magnesium intake to 300-500mg per day.</li>
      <li>Salt your food aggressively! (Unrefined, like Redmonds Real Salt)</li>
      <li>
        Stay hydrated and consider electrolyte supplementation. We like Re-Lyte
        from Redmond or Dr. Bergs.
      </li>
    </ul>

    <h2>Phase 3: Carnivore (4-6 Weeks)</h2>
    <h3>Goal: Become fully carnivore while fine-tuning digestion.</h3>
    <ul>
      <li>Cut ALL plants now - seasonings without sugar are fine</li>
      <li>Focus on fatty cuts of meat, organ meats, and bone marrow.</li>
      <li>
        Keep meals simple: avoid "carnivore junk food" and Keto treats - they
        are everywhere and cost $$$.
      </li>
      <li>
        Expect some minor digestion changes: looser stools are normal initially
        as bile production ramps up.
      </li>
      <li>
        Early on, eat more ground beef - it is a very easy way to balance
        protein and fat.
      </li>
      <li>
        Limit rendered fat (don't flood with butter/tallow at first - get your
        fat from the meat you eat).
      </li>
      <li>Gradually increase fat over 1-2 weeks.</li>
    </ul>

    <h2>Phase 4: Welcome to Carnivore, The Proper Human Diet.</h2>
    <p>
      This journey isn’t about perfection—it's about progress. If you take the
      time to transition intentionally through each phase, you’ll set yourself
      up for long-term success on the carnivore diet and unlock a new level of
      health and vitality.
    </p>
    <p><strong>Welcome to the proper human diet.</strong></p>
  </div>
</div>
