<div class="page">
  <img src="assets/the-carnivore-den-logo.png" alt="Carnivore Den Logo" class="logo" />
  <h1>Coming Soon.</h1>
  <h2>This is a passion project for me.</h2>
  <p>
    It all started in a place of desperation. I was overweight, had high cholesterol, and was on the verge of diabetes. I was tired of being tired.
    I had tried many diets, but nothing seemed to work long-term. Then I discovered the carnivore diet, and it changed my life. As a software developer, 
    I wanted to create a place where I could track my progress, share my journey, and connect with others who were on a similar path. There's no telling 
    where this journey will take me, but I hope you'll join me for the ride.
  </p>
</div>