.brand {
    display: flex;
    align-items: center;
}

.navLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navTitle {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}