@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: #1b1b1b;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    overflow: auto;
}

.page p {
    margin-inline: 25%;
    text-align: center;
    font-size: 1.2rem;
    min-width: 300px;
}

mat-toolbar {
    display: flex;
    background-color: #1b1b1b;
    color: #fff;
    justify-content: space-between;
}
